In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ...:                           'foo', 'bar', 'foo', 'foo'],
   ...:                    'B' : ['one', 'one', 'two', 'three',
   ...:                           'two', 'two', 'one', 'three'],
   ...:                    'C' : np.random.randn(8),
   ...:                    'D' : np.random.randn(8)})

In [52]:
df

     A      B         C         D
0  foo    one -1.273851  0.439370
1  bar    one -1.055546  0.039531
2  foo    two  0.387153  0.393375
3  bar  three -0.848365 -1.257109
4  foo    two  1.096373  0.286264
5  bar    two  1.162247 -1.692954
6  foo    one -0.476805  0.236085
7  foo  three -0.009467  1.465107

In [55]:
df.shape

(8, 4)

In [6]:
grouped = df.groupby('A')

In [13]:
1.575690-1.597177-0.688451

-0.7099380000000001

In [21]:
grouped.size().max()

5

In [22]:
grouped.size()

A
bar    3
foo    5
dtype: int64

In [48]:
grouped['D'].apply(rate_calculation).reset_index().rename( 
                index=str,
                columns={'D': 'new_feature'}
            )

x: 1    1.575690
3   -0.688451
5   -1.597177
Name: bar, dtype: float64 - sum: -0.7099372666048772 - count: 3
x: 0    0.578610
2    0.140631
4   -0.949011
6    1.108044
7   -0.732129
Name: foo, dtype: float64 - sum: 0.14614454162505908 - count: 5

     A  new_feature
0  bar    -0.022582
1  foo     0.004086

In [47]:
def rate_calculation(x):
    """Calculate the attributed rate. Scale by confidence"""
    rate = x.sum() / float(x.count())
    conf = np.min( [1, np.log(x.count()) / np.log(100000)] )
    print("x: {} - sum: {} - count: {}".format(x, x.sum(), x.count()) );
    return rate * conf

In [41]:
grouped.get_group('foo')

       B         C         D
0    one  0.829919  0.578610
2    two -0.947827  0.140631
4    two -0.521249 -0.949011
6    one  0.753920  1.108044
7  three  1.348725 -0.732129